<div class="row">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><i class="material-icons user_icon">person_pin</i></li>
        <li>Welcome, {{getUserFirstName}}</li>

        <li><a href="/reset_user">Sign Out</a></li>
    </ul>
</div>