<h3>GET USER PAGE</h3>
<div class="container">
    <div class="row">
        <form action='/set_user' method='post' id='select_user_form' class='col s12'>
            <div class="input-field col s12">
                <select name="userID">
                    <option value="" disabled selected>Select a User:</option>
                    {{#each users}}
                        <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row">
                <div class="col s10">
                <button type="submit" class="waves-effect waves-light btn green darken-1"><i class="material-icons left">forward</i>Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>